@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,200;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --mainColor:#298fbb9c;
    --mainColorLight:#b3d3e19c;
    --secondaryColor:#1e24d8;
    --textColor:#fff;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
nav a{
    margin: 0 1rem;
    padding: 5px;
    color: var(--textColor);
    text-decoration: none; 
}
nav a:hover{
    color: var(--secondaryColor); 
}
header .nav-btn{
    padding:5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;

}
header div, nav{
    display: flex;
    align-items: center;

}

@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top:-100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
       
    }
    
}
header.responsive_nav{
    transform:translateY(100vh);
}
nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
nav a{
    font-size: 1rem;
}
.home-container{
    margin-top: 150px;
}

.main-heading{
    display: flex;
    justify-content: center;
}
.main-text{
    display: flex;
    justify-content: center;
    border: 3px solid;
    background-color:cornsilk;
    margin-left: 100px;
    margin-right: 100px;
}
.main-btn{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px;
    border: 5px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: aquamarine;
}
button:hover{
    cursor: pointer;
    background-color: cadetblue;
   transition: 3s;
   transform:scale(1.5);
    
}



